@import url(https://fonts.google.com/specimen/Montserrat?query=monts);
@import url(https://fonts.google.com/specimen/Abril+Fatface?query=abril&sidebar.open&selection.family=Abril+Fatface);
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0 auto;
}

/* tete de page */
header.header{
    display: flex;
    align-items: center;
}

header.header img{
    width: 150px;
}

section.top-page{
     background: url('../images/bg.jpg');
     background-size: cover;
     height: 80vh;
     padding: 25px;
 }
    /*page de bienvenue*/
 .big-title{
    color: white;
    font-size: 80px;
    padding: 20px 50px;
    font-weight: 100;
    font-family: 'cursive';
 }

    /*menu de navigation */
 nav.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    
 }

 nav.nav li {
    color: white;
 }